<p>event-detail works!</p>
<div class="container">
    <h1> update Event</h1>
    <form (ngSubmit)="updateEvent(id, description, name)">
      <input hidden class=input name="id" [(ngModel)]="id">
      <p class="text" > description </p>
        <input class=input name="description" [(ngModel)]="description">
        <p class="text"> name</p>
        <input class=input name="name" [(ngModel)]="name">&nbsp; 
        <button class=button type="submit"> update </button>
        <button class=button onclick="deleteEvent(id)"> delete </button>
    </form>
    
</div>

